html {
    height: 100%;
}

/* --- Body Start --- */

body {
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* --- Header Start --- */

.header {
    border: solid red;
    /* --- For debugging --- */
    flex: 0 1;
    font-size: 55px;
}

/* --- Header End --- */
/* --- Content Start --- */

.content {
    border: solid green;
    /* --- For debugging --- */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
}

.sidebar {
    border: solid purple;
    display: flex;
    flex-direction: column;
}

.switch-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.main-window {
    border: solid orange;
    flex-grow: 1;
    display: flex;
}

.etch-a-sketch-window {
    border: solid slateblue;
    max-height: 500px;
    max-width: 500px;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-grow: 1;
}

.etch-a-sketch {
    border: solid tomato;
    flex-grow: 1;
}

/* --- Content End --- */
/* --- Footer Start --- */

.footer {
    border: solid blue;
    /* --- For debugging --- */
    flex: 0 1;
}

/* --- Footer End --- */
/* --- Body End --- */