html {
    height: 100%;
}

/* --- Body Start --- */

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: rgb(192, 183, 183);
    color: #3a3a3a;
    margin: 0;
}

/* --- Content Start --- */

.content {
    flex-grow: 1;
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    padding: 0 15%;
}

/* --- Sidebar Start --- */
/* --- Sidebar Switches Start --- */

.sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 30px;
}

.switch-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    margin-left: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3a3a3a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3a3a3a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch-div {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

#bottom-switch {
    margin-left: 18px;
}

/* --- Sidebar Buttons Start --- */

.button-group {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 30px
}

.button-group button {
    border: solid #3a3a3a;
    color: #3a3a3a;
    background-color: rgb(192, 183, 183);
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 12px;
}

/* --- Sidebar End --- */
/* --- Main Window Start --- */

.main-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 200px;

}

.header {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.etch-a-sketch-window {
    height: 500px;
    width: 500px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 1288px) {

    .header {
        text-align: center;
    }

    .etch-a-sketch-window {
        height: 500px;
        width: 500px;
        display: flex;
        align-self: center;
    }
}

@media only screen and (max-width: 1790px) {

    .main-window {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 710px) {
    .etch-a-sketch-window {
        height: 300px;
        width: 300px;
        display: flex;
        align-self: center;
    }

    .sidebar {
        padding-top: 0px;
    }

    .main-window {
        padding-right: 0px;
    }

    .header {
        font-size: 35px;
    }
}

#etch-a-sketch-background {
    flex-grow: 1;
    background: white;
    display: flex;

}

.grid {
    display: flex;
    flex-grow: 1;
    max-width: 500px;
    max-height: 500px;
}

.column {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.row {
    background: white;
    text-align: center;
    flex-grow: 1;
}

.gridsquare {
    border: solid #3a3a3a;
    border-width: thin;
}

/* --- Main Window End --- */
/* --- Content End --- */
/* --- Footer Start --- */

.footer {
    flex: 0 1;
    padding: 10px;
    text-align: center;
    background-color: #3a3a3a;
    color: white;
}

/* --- Footer End --- */
/* --- Body End --- */